*{
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 80%;
    background-image: url("exemple.jpg");
}

.h{
    font-family: 'arial','sans-serif', 'geneva';
    background-color: rgb(42, 72, 14);
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 0;
    border-color: rgb(42, 72, 14);
    border-style: solid;
    border-radius: 20px;
}
h1{
    padding-bottom: 0px;
}
h3{
    margin-top: 20px;
    margin: auto;
    width: 50%;
}
nav{
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: 20%;
    border-style: solid;
    border-radius: 20px;
}

nav a{
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 5px;
        
}


.block, .main{
    display:flex;
    flex-wrap: wrap;
}

.main aside{
    flex-basis: 20%;
}

section[class=block]{
    flex-basis: 70%;
    flex-grow: 1;
}
.block article{
    flex-basis: 49%;
    margin : 5px;
}

p{
    padding: 5px;
    margin: 5px;
}

aside{
    background-color : green;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 300px;
    padding-top: 10px;
}

.hu{
    background-color: lightblue;
    text-align: center;
    width: 30%;
    margin-top: 5px;
    margin-left: 10px;
}

.fu{
    background-color: lightblue;
    text-align: center;
    width: 30%;
    margin-bottom: 5px;
    margin-right: 10px;
    float:right;
}

.f{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}