*{
    box-sizing: border-box;
}

body{
    margin: auto;
    background-image: url(Image_1/plan.jpg);
}

.h{
    font-family: 'montserrat','arial','sans-serif', 'geneva';
    background-image: url(Image_1/wallpaper.jpg);
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: white;
    padding: 125px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu{
    background-image: url(Image_1/wallpaper2.jpg);
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    
}
.menu1-1{
    text-align: center;
    font-size: 1.1em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.845);
    width: 200px;
    border-radius: 20px;
    padding: 13px;
    margin: 10px;
    background-color: rgb(69, 62, 33);
}


nav a{
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 5px;
        
}

.other{
    display: flex;
    justify-content: baseline;
    width: 60%;
    margin: auto;
}

.main{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.image{
    display: border-box;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.other img{
    border-radius: 50%;
    width: 40%;
    margin: auto;
}

.block{
    display: inline-block;
    justify-content: center;
    padding: 10px;
    opacity: 0.8;
}
.block2{
    display: inline-block;
    justify-content: center;
    padding: 30px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    border-radius: 20px;
    background-color: aliceblue;
    margin: 20px;
    padding: 10px;
}

.hu{
    font-size: 2em;
    font-weight: 800;
    color: rgb(69, 62, 33);
    margin: 10px;
}
p{
    font-size: 1.4em;
}
.f{
    background-image: url(Image_1/wallpaper1.jpg);
    text-align: center;
    color:white;
    width: 100%;
    padding:20px;
    background-color: rgb(54, 106, 111);
}

.img1-1{
    flex-basis: calc(100%/3 - 20px);
    width: 20%;
    height: 10%;
    border-radius: 30px;
    margin: 20px;
}
.img1-2{
    flex-basis: calcl(70% - 20px);
    width: 40%;
    height: 30%;
    border-radius: 30px;
    margin: 20px;
}

.img1-3{
    flex-basis: calc(60%/3 - 20px);
    width: 5%;
    height: 5%;
    border-radius: 30px;
    margin: 20px;
}